:root {
    --Primary-color: #12AFD6;
    --Secondary-color: #272525;
}
* {
    padding: 0;
    box-sizing: border-box;
}
a:link {
    text-decoration: none;
}
/* STYLE HEADER start */ 
header {
    padding: 20px 35px;
    color: var(--Primary-color);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
}
header h1 {
    font-size: 45px;
}
header a {
    text-decoration: none;
    color: var(--Primary-color)
}
Header nav ul {
    font-size: 35px;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
    align-items: center; 
}
header nav ul li a {
    padding: 10px 15px;
}
/* STYLE HEADER end */ 
/* STYLE HERO start */
.hero {
    padding: 40px 70px;
    background-image: url("../images/keyboard.jpg");
    background-size: cover;
    background-position: center;
    align-items: flex-start;
}
.hero h2 {
    display: flex;
    justify-content: flex-end;
    color: var(--Primary-color);
    line-height: 1.2;
}
/* STYLE HERO end */ 
/* STYLE BODY start */
body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/* STYLE BODY end */
.primary-border {
    border-color: var(--Secondary-color);
    margin: auto;
}
.work {
    display: flex;
    justify-content: space-around;
}
.main{
    background-size: cover;
    display: flex;
    padding: 60px;
    justify-content: flex-start;
    flex-wrap: nowrap;
    flex-direction: column;
}
.main-body {
    background-size: cover;
    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap;
    align-items: flex-start;
    padding: 15px;
}
.bio, .contact-info {
    display: flex;
    padding: 15px;
    flex: 1;
    max-width: 100%;
    height: auto;
}
.flex-row {
    font-size: 48px;
    color: var(--Primary-color);
    border-right: 4px solid;
    padding-right: 10px;
    margin: 0 0 auto;
    width: 15%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    flex-direction: column;
    align-items: flex-start;
}
.section-title {  
    display: inline-block;
    text-align: right;
    max-width: 100%;
    height: auto;
    margin: 0;
}
.flex-row img {
    display: inline-block;
    max-width: 100%;
    height: auto;
}

.work-row {
    position: relative;
    max-width: 100%;
    height: auto;
    display: flex;
    padding: 15px;
    flex: 1;
}
.work-row-textbox {
    background-color: rgba(18, 175, 214, 1);
    color:  rgba(0, 0, 0, 0.5);
    padding: 10px 25px;
    font-size: 40px;
    top: 75%;
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 75%;
    transform: translate(20px,10px);
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-end;
}
.work-row img {
    opacity: 1;
    display: block;
    max-width: 100%;
    height: auto;
    transition: 0.5s ease;
    backface-visibility: hidden;
}
.work-row:hover .run {
    opacity: 0.3;
}
.work-row:hover .work-row-textbox {
    opacity: 1;
}

/*STYLE FOOTER start */ 
footer {
    padding: 20px 35px;
    color: var(--Primary-color);
    display: flex;
    padding: 60px;
    justify-content: space-between;
    flex-wrap: wrap;
}
footer address {
    display: flex;
    justify-content: space-around;
}
@media screen and (max-width: 980px) {
    header {
        padding-bottom: 0;
        justify-content: center;
    }
    header h1 {
        width: 100%;
        text-align: center;
    }
    header nav ul {
        margin-top: 20px;
        width: 100%;
        justify-content: center;
    }
    header nav ul li a {
        font-size: 20px;
    }
    .section-title {
        width:  80%;
    }
    .run {
        flex: 0 70%
    }
    footer h2, footer div {
        text-align: center;
        width: 100%;
    }
    .flex-row, .bio, .work-row {
        width: 100%;
    }
    .flex-row {
        text-align: center;
    }
    .contact {
        flex: 1 100%;
    }    
}
@media screen and (max-width:575px) {
    .section-title {
        width: 95%;
    }
    .bio {
        width: 100%;
    }
    .main-body {
        flex: 0 100%;
    }
    .contact {
        text-align: center;
    }
    .contact-info > * {
        flex: 0 100%;       
    }
}