:root {
    --Primary-color: #12AFD6;
    --Secondary-color: #272525;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a:link {
    text-decoration: none;
}
/* STYLE HEADER start */ 
header {
    padding: 20px 35px;
    background-image: url("../images/keyboard.jpg");
    image-rendering: -pixelated;;
    color: var(--Primary-color);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-position: 80%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 9999;
}
header h1 {
    font-size: 45px;
}
header a {
    text-decoration: none;
    color: var(--Primary-color)
}
Header nav ul {
    font-size: 35px;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
    align-items: center; 
}
header nav ul li a {
    padding: 10px 15px;
}
/* STYLE HEADER end */ 
/* STYLE HERO start */
.hero {
    padding: 40px 70px;
    background-image: url("../images/keyboard.jpg");
    image-rendering: pixelated;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-position: 80%;
    justify-content: flex-end;
    display: flex;
    align-items: flex-start;
}
.hero-cta {
    display: flex;
    justify-content: flex-end;
    color: var(--Primary-color);
    line-height: 1.2;
}
/* STYLE HERO end */ 
/* STYLE BODY start */
body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
/* STYLE BODY end */
.primary-border {
    border-color: var(--Secondary-color);
    margin: auto;
}
.main {
    position: relative;
    height: 100%;
    width: 100%;
}
.main-sub {
    position: absolute;
    margin: 5px 3.5%;
}
.main-body {
    position: relative; 
    background-size: cover;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: flex-start;
    padding: 15px;
}
.bio {
    width: 35%;
    text-align: left;

    color: var(--Secondary-color);
    font-size: 18px;
    line-height: 1.2;
}
.bio, .work-row {
    display: flex;
    position: relative;
    display: flex;
    justify-content: flex-start;
    padding: 15px;
    flex: 1;
}
.contact-info {
    display: flex;
    position: relative;
    display: flex;
    justify-content: space-around;
    padding: 15px;
    flex: 1;
}
.flex-row {
    font-size: 48px;
    color: var(--Primary-color);
    border-right: 4px solid;
    padding-right: 10px;
    margin: 0 0 auto;
    width: 15%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    flex-direction: column;
    align-items: flex-end;
}
.section-title {  
    display: inline-block;
    text-align: right;
    max-width: 100%;
    height: auto;
    margin: 0;
}
.avatar {
    display: inline-block;
    max-width: 100%;
    height: auto;
}
.work {
    position: relative;
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 25px;
}

.work-row-textbox {
    background-color: rgba(18, 175, 214, 1);
    color:  rgba(0, 0, 0, 0.5);
    padding: 10px 25px;
    font-size: 40px;
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 6px;
    left: 0;
    transform: translate(20px,10px);
}
.image img {
    position: relative;
    width: 100%;
    display: flex;
    flex: 1;
    opacity: 1;
    transition: 0.5s ease;
    backface-visibility: hidden;
}

.work-row:hover .run {
    opacity: 0.3;
}
.work-row:hover .work-row-textbox {
    opacity: 1;
}
footer {
    color: var(--Primary-color);
}
/*STYLE FOOTER start */ 
@media screen and (max-width: 980px) {
    header {
        padding-bottom: 0;
        justify-content: center;
    }
    header h1 {
        width: 100%;
        text-align: center;
    }
    header nav ul {
        margin-top: 20px;
        width: 100%;
        justify-content: center;
    }
    header nav ul li a {
        font-size: 20px;
    }
    .section-title {
        width:  80%;
    }
    .main-body {
        flex: 0 70%;
        width: 80%;
    }
    footer h2, footer div {
        text-align: center;
        width: 100%;
    }
    .hero-cta {
        width: 100%;
        text-align: center;
    }
    .flex-row, .bio, .work-row {
        width: 100%;
        flex: 1 100%;
        text-align: center;
    }
    .contact {
        flex: 1 100%;
    }    
    .run {
        max-width: 100%;
        max-height: 100%;
        justify-content: center;
    }
}
@media screen and (max-width: 768px) {
    section {
        padding: 30px 15px;
    }
    .flex-row h2 {
        flex: 1 100%;
        text-align: center;
    }
    .work-row {
        flex: 2 100%;
        text-align: center;
        justify-content: center;
    }
    image img {
        flex: 0 32%;
        margin-right: 0;
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .work-row-textbox {
        flex: 100%
    }
}
@media screen and (max-width:575px) {
    .work-row-textbox {
        width: 100%;
    }
    .section-title {
        width: 95%;
    }
    .bio {
        width: 100%;
    }
    .main-body {
        flex: 0 100%;
    }
    .contact {
        text-align: center;
    }
    .contact-info {
        text-align: center;
    }
    .contact-info > * {
        flex: 0 100%;       
    }
}